* {
    margin: 0;
    padding: 0;
  }

body{
    background-color:#F8F8F8;
    font-family: Lato,"Lucida Grande","Lucida Sans Unicode";
}


header{
   box-shadow: 0 0 0.25em 0 rgb(0 0 0 / 25%);
   font-size: 1rem;
   text-align: center;
   padding: 1em;
   width: 100%;
}

.h1-s{
    font-weight: 400;
    align-self: center;
}

.main{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top:200px;
}

.form-control{
    display:inline-block !important;
    width: 30% !important;
    margin-bottom: 5px;
    justify-content: center !important;
    margin: auto;
.btn{
    width: 13%;
    margin: 10px;
}

#invField2{
    margin-top: 30px;
}

/* .field1{
    display: flex;
    justify-content: center;
} */

div.field1{
    box-sizing: unset !important;
}

*, ::after, ::before {
    box-sizing: unset !important;
}
